<h3>Create Employee</h3>
<form>
<!-- <form (ngSubmit)="onSubmit()"> -->
  <div>
    <label for="name">Name</label>
    <input type="text" id="name" name="name" [(ngModel)]="employee.employee_name" required>
  </div>
  <div>
    <label for="salary">Salary</label>
    <input type="number" id="salary" name="salary" [(ngModel)]="employee.employee_salary" required>
  </div>
  <div>
    <label for="age">Age</label>
    <input type="number" id="age" name="age" [(ngModel)]="employee.employee_age" required>
  </div>
  <button type="submit">Submit</button>
</form>
